<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>New item - 3</key>
		<string></string>
		<key>New item - 2</key>
		<string></string>
		<key>New item</key>
		<string></string>
	</dict>
	<dict>
		<key>WALTER VELTRONI</key>
		<dict>
			<key>481</key>
			<integer>0</integer>
			<key>30,83</key>
			<integer>0</integer>
			<key>PARTITO DEMOCRATICO</key>
			<dict>
				<key>450</key>
				<integer>0</integer>
				<key>28,85</key>
				<integer>0</integer>
			</dict>
			<key>DI PIETRO ITALIA DEI VALORI</key>
			<dict>
				<key>31</key>
				<integer>0</integer>
				<key>1,99</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</array>
</plist>
